.notification {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1051;
	background: rgba(87,96,102,.95);
	@include transition(all .7s cubic-bezier(0.7,0,0.3,1));
	@include transform(translate3d(-100%,0,0));
	@include opacity(0);
	@include box-shadow(0 0 3px rgba(0,0,5,.5));
	padding: 4px 20px 4px 4px;

	@media (max-width: 1280px) {

		.off-canvas-mask + & {
			background: $color-green;
		}
	}

	@media (max-width: 767px ) {
		position: absolute;
		z-index: 1;
		width: 100%;
		border-radius: 0;
		top: 54px;
		left: 0;
		padding: 5px 5px 5px 20px;
	}

	.avatar, a { float: left; }

	.avatar {
		background-color: white;
		color: $color-grey-l4;
		font-weight: bold;

		.icon-check, .icon-notice {
			color: $color-green;
			font-size: 20px;
			line-height: 2;
		}

		 .icon-notice {
		   color: $color-danger;
		 }
	}

	a {
		margin-top: 12px;
		margin-left: 10px;
		color: white;
		font-size: $font-size-xs;
		font-weight: 100;

		&.cancel {
			margin-top: 8px;
			margin-left: 20px;
			font-size: $font-size-lg;
			font-weight: bold;

			@media (max-width: 767px ) {
				float: right;
				margin-right: 20px;
			}
		}
	}

	&.show {
		@include transform(translate3d(0,0,0));
		@include opacity(1);
	}
}
